.jumbotron {
  margin-bottom: 4em;
}

.header-img {
	width:100%;
}

.btn-primary {
  background-image: none;
  border: none;
  border-radius: 0;
  background-color: #2892D7;
}

h3 {
  margin-bottom: 1em;
}