.logContainer{
  width: 500px;
  background: #2892D7;
  text-align: center;
  margin: auto;

}
.header{
  padding-top:  20px;
  color: white;
}


.RegistrationForm{
  background:  #53a7df;
  width: 98%;
  margin: auto;
  margin-bottom: 15px;
}
.RegistrationForm form label{
  display: block;
  margin: auto;
  padding: 12px;

}

.row {
 display: inline;

}

.RegistrationForm form label input{
  width: 80%;
  padding: 8px;

}
.RegistrationForm button, input{
  border-radius: 7px;
  padding: 10px;

}
